<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>OpenInFinder</string>
    <key>CFBundleIdentifier</key>
    <string>com.user.openinfinder</string>
    <key>CFBundleName</key>
    <string>Open in Finder</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>txt</string>
                <string>pdf</string>
                <string>doc</string>
                <string>docx</string>
                <string>xls</string>
                <string>xlsx</string>
                <string>ppt</string>
                <string>pptx</string>
                <string>jpg</string>
                <string>jpeg</string>
                <string>png</string>
                <string>gif</string>
                <string>svg</string>
                <string>webp</string>
                <string>heic</string>
                <string>raw</string>
                <string>psd</string>
                <string>ai</string>
                <string>eps</string>
                <string>indd</string>
                <string>indesign</string>
                <string>indesign-template</string>
                <string>indesign-document</string>
                <string>drawio</string>
                <string>vil</string>
                <string>txt</string>
                <string>csv</string>
                <string>tsv</string>
                <string>json</string>
                <string>xml</string>
                <string>md</string>
                <string>rtf</string>
                <string>pages</string>
                <string>numbers</string>
                <string>keynote</string>
                <string>pages</string>
                <string>numbers</string>
                <string>keynote</string>
                <string>3mf</string>
                <string>yaml</string>
                <string>yml</string>
                <string>mp4</string>
                <string>mov</string>
                <string>mp3</string>
                <string>wav</string>
                <string>zip</string>
                <string>rar</string>
                <string>html</string>
                <string>css</string>
                <string>js</string>
                <string>py</string>
                <string>java</string>
                <string>cpp</string>
                <string>c</string>
                <string>h</string>
                <string>swift</string>
                <string>json</string>
                <string>xml</string>
                <string>csv</string>
                <string>md</string>
                <string>rtf</string>
                <string>pages</string>
                <string>numbers</string>
                <string>keynote</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>All Supported Files</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>public.data</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>All Files</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSTypeIsPackage</key>
            <false/>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>public.data</string>
            <key>UTTypeDescription</key>
            <string>All Files</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.item</string>
            </array>
        </dict>
    </array>
</dict>
</plist>